body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

.game-card {
    margin-top: 50px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
}

.card-header {
    background-color: #007bff; 
    color: white;
}

.card-title {
    color: #343a40; 
    font-weight: bold;
}

.card-title span {
    font-weight: normal; 
    color: #007bff; 
}

h4, h5, p {
    color: #343a40; 
}

p {
    margin-bottom: 0;
}

p span {
    font-weight: bold; 
}


.card-body {
    text-align: left; 
}


.card-body div {
    padding: 15px;
}